
.b2-hidden-always{
	display: none
}
 
 
 
.lv-icon.user-lv i {
    font-family: 'DIN-Medium';
}
 
 
::-moz-placeholder { color: #ccc; }
::-webkit-input-placeholder { color:#ccc; }
:-ms-input-placeholder { color:#ccc; }
 
 

input::-moz-focus-inner {
	border: 0;
	padding: 0
}
.button{
	border-radius:4px;
	color:#fff;
	padding: 8px 16px;
	transition: opacity .2s;
	position: relative;
	cursor: pointer;
	font-size: 12px;
	margin:0;
	white-space: nowrap;
}

.button:active{
	transform: translateY(1px);
}
.button:hover{
	opacity: .9;
	transition: opacity .2s
}
.button.empty{
	background: rgba(255, 255, 255, 0);
}
section {
	display: block
}

a:active,a:hover {
	outline: 0;
}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{
	-webkit-appearance: none !important;
 }

i {
	font-style: italic;
}

/*缂傚倸鍊搁崐鎼佸磹閹间礁纾归柟闂寸绾惧綊鏌ｉ幋锝呅撻柛濠傛健閺屻劑寮撮悙娴嬪亾閸洖鐒垫い鎺嗗亾闁哥喎纾划璇测槈濡攱顫嶅┑鈽嗗灣閳峰牆危椤栨稓绡€闁汇垽娼ф禒锕傛煕閵娿劌鐓愮紒宀勪憾閹粌螣鐠囨彃浼庨梻浣筋潐閸庡吋鎱ㄩ妶澶嬪亗闁告劦鍠楅悡鏇熺節闂堟稒顥滄い蹇婃櫊閺屽秷顧侀柛鎾寸懇閳ワ箓鎮滈挊澶嬫К闂侀潧绻堥崐鏇犵尵瀹ュ鐓冪憸婊堝礈閻旈晲绻嗛柣銏⑶圭粈瀣亜閺傚灝鈷旈柡澶嬫倐濮婅櫣鎲撮崟顐ゎ槰濠电偛鎳忓ú鏍煝閹捐閱囬柡鍥╁暱閹锋椽姊洪悡搴綗闁稿﹥娲熷鍛婃償閿濆洨锛滅紓鍌欑劍閿曨偊鎳撻幐搴闁绘劖褰冮弳娆撴煟閿濆繒绡€妤犵偛绉归幖褰掝敃閵堝倸浜惧┑鐘崇閳锋垹鎲搁悧鍫濈瑨濞存粈鍗抽弻娑㈠箻鐎靛憡鍒涢梺璇″枤閸忔ɑ淇婇幖浣哥厸闁稿本顨嗙€氱厧鈹戦悩缁樻锭闁稿﹥鎮傞獮澶愬焺閸愵亶娲搁梺闈涚墕椤︿即鎮″▎鎾寸厱闁瑰瓨鐟ラ埀顒佺墱閳ь剚鐔幏锟�*/
.link-block{
	position: absolute;
	width:100%;
	height:100%;
	z-index:2;
	top:0;
	left:0
}
.box{
	background-color: #fff!important;
	position: relative;
}
@font-face {
    font-family: "DIN-Medium";
    src: url("../font/DIN.woff") format("woff"),
         url("../font/DIN.ttf") format("truetype"),
         url("../font/DIN.eot") format("embedded-opentype"),
         url("../font/DIN.svg") format("svg");
}
.home .site-content{
    padding-bottom:0;
}
.site-content{
    flex: 1;
    padding-bottom:30px;
}
.wrapper{
    margin:0 auto;
    max-width: 100%;
}
.entry-content > ol li::marker,.entry-content > ul li::marker{
    color:#999;
    font-family: 'DIN-Medium';
}
.entry-content >{
    margin-top: 1.2em;
    margin-bottom: 0.6em;
    line-height: 1.35;
    font-weight: 400;
}
.entry-content >,.content-show-roles >  {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    margin-top: 0;
    margin-bottom: 20px;
}
.widget >  {
    font-size: 16px;
    padding:20px 16px 8px;
    font-weight: 600;
    line-height: 1;
}
.lv-icon{
    font-size: 12px;
    font-weight: 400;
    color: #797C80;
    height: 18px;
    line-height: 18px;
    border-radius: 3px;
    margin-right:6px
}
.lv-icon.user-lv i{
    font-size: 12px;
    font-style: normal;
    display: inline-block;
    background-color: rgb(173 173 173 / 16%);
    transform: scale(1);
    height: 17px;
    line-height: 17px;
    padding: 0 6px;
    border-radius: 2px;
    margin-left: 3px;
    text-transform: capitalize;
}
.lv-icon b{
    font-weight: 400;
}
.mask-wrapper{
    position: relative;
    display: flex;
    align-items: flex-end;
    background-color: #ccc
}
.mask-wrapper{
    width:100%;
    height:0;
    padding-top:20%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.user-page-lv span{
    margin-left:5px;
    margin-right:0
}
.user-panel{
    position: relative;
    width: 100%;
    margin-top: -47px;
    padding: 0 20px 20px 20px;
    display: flex;
    box-sizing: border-box;
}
.user-panel .avatar{
    border:4px solid #fff;
    background: #ccc;
    width:152px;
    height:152px;
    flex-grow: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    max-width: 152px;
    min-width: 152px;
    border-radius: 4px;
}
.user-cover-button{
    position: absolute;
    top:20px;
    right:20px
}
.user-cover-button label.empty{
    background: none;
    color: #fff;
    border-color: #fff;
    font-size: 14px;
    display: flex;
    align-items: center;
    line-height: 1;
    padding: 7px 10px;
}
.user-panel-info{
    font-size: 24px;
    font-weight: 600;
    padding-top: 45px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    align-items: flex-end;
}
.user-panel-info p{
    align-items: center;
    font-size: 13px;
    color: #797C80;
    font-weight: 400;
    margin-top:15px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-justify: inter-ideograph;
    word-break: break-all;
    margin-right:300px;
}
.user-panel-info h1 span{
    margin-right:10px
}
.user-panel-editor-button{
    text-align: center;
    position: absolute;
    right: 24px;
    top: 115px;
}
.user-panel-editor-button .user-follow{
    width:220px;
    justify-content: flex-end;
}
.author-header{
    overflow: hidden;
}
.author-table{
	display: flex;
}
.author-page-right-in{
    padding:16px
}
.author-page-right{
    width:240px;
}
.author-page-left{
    flex: 1;
    width:100%;
}
.editor-avatar{
    display: flex;
    align-items: center;
    flex-flow: column;
    height: 100%;
    position: absolute;
    width: 100%;
    justify-content: center;
    background: rgba(41,44,47,.4);
    color: #fff;
    font-size: 13px;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
}
.user-panel .avatar:hover .editor-avatar{
    opacity: 1;
    visibility: visible
}
/*----*/
.user-sidebar{
    font-size: 14px
}
.user-follow{
    margin-top:10px;
    display: flex
}
.vip-footer >  {
    font-size: 30px;
}
.vip-footer >{
    text-align: center
}

  @media screen {
  
    /* string content */
  
    /* keyword */
  
    /* comment */
  

  }

  /* MS supports */
  @supports (-ms-overflow-style: none) {
  }
  .author-page-right-in{
    padding:16px
}
.author-page-right{
    width:240px;
}
.post-3 .post-module-thumb .b2-radius{
    overflow: hidden;
}
.video-view.b2-radius i{
    margin-right: 2px;
    line-height: 1;
}
.video-view.b2-radius i{
    margin-right: 2px;
    line-height: 1;
}
.video-view.b2-radius span{
    line-height: 1.8
}
.com-form > .b2-radius{
    overflow: hidden
}
.tax-collection .box.b2-radius{
    overflow: hidden;
}
.user-sidebar{
    font-size: 14px
}
.user-count{
    padding-top:16px;
    margin-top:16px;
}
.user-sidebar-info{
    padding:14px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.user-sidebar-count{
    display: flex;
    flex-flow: wrap;
    padding:15px
}
#author-index{
    overflow: hidden;
}
#author-index .user-info{
    padding:6px 20px
}
#author-index .user-info p{
    position: relative;
    padding:14px 0
}
#author-index .user-info p span{
    display: inline-block;
    margin-right:24px
}
.user-info-title{
    color:#8590A6;
    font-size: 15px;
    line-height: 22px;
}
#author-index .user-info p a{
    font-size: 12px;
    position: absolute;
    right:16px;
    top:12px
}
.user-verify span b{
    margin-right:3px
}
.user-verify span b i.b2-vrenzhengguanli{
    position: initial;
    display: inline-block;
}
.user-sidebar.h0{
    height:0;
    width:0;
    opacity: 0;
    overflow: hidden;
    transition: height .3s ease-in-out;
}
.user-sidebar.h0.show{
    opacity: 1;
    height: 54px;
    width:auto;
    transition: height .3s ease-in-out;
}
.user-sidebar-count li{
    width:25%;
    padding:20px;
    position: relative;
    box-sizing: border-box;
    background-color: #F7F9FA;
    border:5px solid #fff
}
.user-sidebar-count li i{
    position: absolute;
    font-size: 81px;
    color: rgba(209, 233, 255, 0.28);
    right: 0;
    top: -13px;
}
.user-sidebar-count li > div{
    position: relative;
}
.user-item-desc{
    font-size: 12px;
    color:#AAAEB3
}
.user-sidebar-count li p{
    font-size: 24px;
    font-weight: 600;
    margin:10px 0
}
.sidebar-invitation-box{
    margin-top:26px;
    padding:16px
}
.user-money-and-credit > div{
    margin-right:20px;
    width:50%;
    overflow: hidden;
}
.user-money-and-credit > div span{
    width:100%;
    display: block;
    padding:0 20px;
    font-size: 24px;
    height: 68px;
    line-height: 68px;
}
.user-sidebar-gold  {
    font-size: 20px;
    padding:20px;
    font-weight: 600;
}
.top-user-box-drop li a i.b2font{
    display: block;
    padding:0;
    line-height: 1;
    margin-top:1px
}
.post-style-2 .top-user-box-drop a i.b2font{
    color:inherit
}

.user-money-and-credit{
    display: flex;
    padding:0 0px 20px 20px
}
.user-money,.user-credit{
    background: #f7f9fa;
    padding: 0 10px;
    border-radius: 5px;
    text-shadow: 0px 1px 0px #fff;
    font-size: 14px;
    line-height: 33px;
    height: 33px;
    display: inline-block
}
.link-block{
    position: absolute;
    width:100%;
    height:100%;
    z-index:2;
    top:0;
    left:0
}
