.circle-contenr-out{

  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  -webkit-font-smoothing: subpixel-antialiased;

  --wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(
    135deg,
    rgba(6, 147, 227, 1) 0%,
    rgb(155, 81, 224) 100%
  );
  --wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(
    135deg,
    rgb(122, 220, 180) 0%,
    rgb(0, 208, 130) 100%
  );



  -webkit-user-select: text !important;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  outline: 0;
  vertical-align: baseline;
  word-wrap: break-word;
  box-sizing: border-box;

  justify-content: space-between;
  margin-top: 8px;
  position: relative;
  padding: 10px 0;
  border-top: 1px solid #f5f6f7;
  background-color: #FFFFFF;
  border-radius: 8px;
}
.circle-contenr {
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0px 0;
}
.circle-top {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  -webkit-font-smoothing: subpixel-antialiased;

  --wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(
    135deg,
    rgba(6, 147, 227, 1) 0%,
    rgb(155, 81, 224) 100%
  );
  --wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(
    135deg,
    rgb(122, 220, 180) 0%,
    rgb(0, 208, 130) 100%
  );



  -webkit-user-select: text !important;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  outline: 0;
  vertical-align: baseline;
  word-wrap: break-word;
  box-sizing: border-box;

  border-top: 1px solid #f5f6f7;
  background-color: #FFFFFF;
  border-radius: 8px;
}
.topic-type-menu {
  margin-top: 8px;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  -webkit-font-smoothing: subpixel-antialiased;

  --wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(
    135deg,
    rgba(6, 147, 227, 1) 0%,
    rgb(155, 81, 224) 100%
  );
  --wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(
    135deg,
    rgb(122, 220, 180) 0%,
    rgb(0, 208, 130) 100%
  );



  -webkit-user-select: text !important;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  outline: 0;
  vertical-align: baseline;
  word-wrap: break-word;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
  position: relative;
  padding: 10px 0;
  border-top: 1px solid #f5f6f7;
  background-color: #FFFFFF;
  border-radius: 8px;
}
.planetul {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  -webkit-font-smoothing: subpixel-antialiased;

  --wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(
    135deg,
    rgba(6, 147, 227, 1) 0%,
    rgb(155, 81, 224) 100%
  );
  --wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(
    135deg,
    rgb(122, 220, 180) 0%,
    rgb(0, 208, 130) 100%
  );



  -webkit-user-select: text !important;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  list-style: none;
  overflow-wrap: break-word;
  display: flex;
  padding: 0 0 0 20px;
  margin-right: 8px;
}
.planetli {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  -webkit-font-smoothing: subpixel-antialiased;

  --wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(
    135deg,
    rgba(6, 147, 227, 1) 0%,
    rgb(155, 81, 224) 100%
  );
  --wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(
    135deg,
    rgb(122, 220, 180) 0%,
    rgb(0, 208, 130) 100%
  );



  list-style: none;
  -webkit-user-select: text !important;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  word-wrap: break-word;
  box-sizing: border-box;
  margin-right: 8px;
}
.topic-drop {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  -webkit-font-smoothing: subpixel-antialiased;

  --wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(
    135deg,
    rgba(6, 147, 227, 1) 0%,
    rgb(155, 81, 224) 100%
  );
  --wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(
    135deg,
    rgb(122, 220, 180) 0%,
    rgb(0, 208, 130) 100%
  );



  -webkit-user-select: text !important;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  word-wrap: break-word;
  box-sizing: border-box;
}
.circle-info{

  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  word-wrap: break-word;
  box-sizing: border-box;
  border-radius: 10px 10px 0 0;
  position: relative;
}
.circle-info-in{

  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  vertical-align: baseline;
  word-wrap: break-word;
  box-sizing: border-box;
  display: flex;
  padding: 20px;
  padding-bottom: 10px;
  justify-content: space-between;
}
.circle-info-left{

  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin-top: -9px;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  word-wrap: break-word;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
}
.topimg{
      font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  word-wrap: break-word;

  box-sizing: inherit;
  object-fit: cover;
  border: 0;
  vertical-align: text-top;
  max-width: 100%;
  border-radius: 10px;
  width: 48px;
  height: 48px;
  min-width: 48px;
  display: block;
}
.planeth1{

  border: 0;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  overflow-wrap: break-word;
  display: flex;
  flex-flow: column;
  font-size: 17px;
  margin-left: 10px;
  justify-content: center;
  height: 47px;
  line-height: 1;
}
.circle-admin-info{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  image-rendering: -webkit-optimize-contrast;

  text-rendering: optimizeLegibility;
  font-feature-settings: "liga" on;
  -webkit-font-smoothing: subpixel-antialiased;

  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  word-wrap: break-word;
  box-sizing: border-box;
  position: relative;
  display: flex;
  color: #AAAEB3;
}
.po-top-submit{

  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  word-wrap: break-word;
  box-sizing: border-box;
  display: none;
  position: absolute;
  right: -555px;
}
.link-block{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  image-rendering: -webkit-optimize-contrast;

  text-rendering: optimizeLegibility;
  font-feature-settings: "liga" on;
  -webkit-font-smoothing: subpixel-antialiased;

  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  word-wrap: break-word;
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
  vertical-align: baseline;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
  left: 0;
}
.tip-radius{
  position: relative;

  margin-top: 8px;
}
.b2-radius-aside-left-plant{
  width: 200px;
  border: 0;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  margin-top: 20px;
  outline: 0;
  vertical-align: baseline;
  overflow-wrap: break-word;
  border-radius: 10px;
  font-size: 12px;
  padding: 10px 4px;
  position: relative;
  float: right;
  min-height: 37px;
  box-sizing: border-box;
  background-color: #FFFFFF;
}
 .b2-radius-aside-left{
   width: 200px;

  border: 0;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  margin-top: 20px;
  outline: 0;
  vertical-align: baseline;
  overflow-wrap: break-word;
  border-radius: 10px;
  font-size: 12px;
  padding: 10px 20px;
  position: relative;
  float: right;
  min-height: 37px;
  box-sizing: border-box;
  background-color: #FFFFFF;
}
.b2-radius-aside-right{
 width: 260px;
 border: 0;
 font-family: inherit;
 font-style: inherit;
 font-weight: inherit;
 margin-top: 20px;
 outline: 0;
 vertical-align: baseline;
 overflow-wrap: break-word;
 border-radius: 10px;
 font-size: 12px;
 position: relative;
 float: right;
 min-height: 37px;
 box-sizing: border-box;
 background-color: #FFFFFF;
}
.po-form-box {

  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  vertical-align: baseline;
  word-wrap: break-word;
  box-sizing: border-box;
  position: relative;
  padding: 10px 20px 20px;
}
.po-form-box-in{

  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  word-wrap: break-word;
  box-sizing: border-box;
  opacity: 1;
}
.b2-color{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  image-rendering: -webkit-optimize-contrast;

  text-rendering: optimizeLegibility;
  font-feature-settings: "liga" on;
  -webkit-font-smoothing: subpixel-antialiased;
  --wp--preset--color--black: #000000;
  --wp--preset--color--cyan-bluish-gray: #abb8c3;

  --wp--preset--font-size--small: 13px;
  --wp--preset--font-size--medium: 20px;
  --wp--preset--font-size--large: 36px;
  --wp--preset--font-size--x-large: 42px;    text-align: center;

  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  word-wrap: break-word;
  box-sizing: border-box;
  color: #2abd80!important;
}
.topic-header{

  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  vertical-align: baseline;
  word-wrap: break-word;
  box-sizing: border-box;
  padding: 20px 20px 16px;
  display: flex;
  justify-content: space-between;
}
.topic-header-left{

  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  word-wrap: break-word;
  box-sizing: border-box;
}
.topic-avatar{

  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  word-wrap: break-word;
  box-sizing: border-box;
  position: absolute;
  left: 20px;
  width: 35px;
  height: 35px;
}
.topic-name{

  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  word-wrap: break-word;
  box-sizing: border-box;
  display: flex;
  height: 35px;
  margin-left: 45px;
}
.topic-name-data{

  border: 0;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  word-wrap: break-word;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  font-size: 16px;
}
.topic-user-lv{

  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  word-wrap: break-word;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin-top: -10px;
}
.user-vip{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  image-rendering: -webkit-optimize-contrast;

  text-rendering: optimizeLegibility;
  font-feature-settings: "liga" on;
  -webkit-font-smoothing: subpixel-antialiased;

  border: 0;
  font-family: inherit;
  font-style: inherit;
  margin: 0;
  outline: 0;
  vertical-align: baseline;
  word-wrap: break-word;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: 400;
  color: #797C80;
  border-radius: 3px;
  margin-right: 6px;
  height: 18px;
  line-height: 18px;
  padding: 0;
}
.user-lv{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  image-rendering: -webkit-optimize-contrast;

  text-rendering: optimizeLegibility;
  font-feature-settings: "liga" on;
  -webkit-font-smoothing: subpixel-antialiased;

  border: 0;
  font-family: inherit;
  font-style: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  word-wrap: break-word;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: 400;
  color: #797C80;
  line-height: 18px;
  border-radius: 3px;
  margin-right: 6px;
  height: auto;
}
.topic-header-right{

  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  word-wrap: break-word;
  box-sizing: border-box;
  line-height: 1;
}
.topic-circle{

  border: 0;
  font-family: inherit;
  font-style: inherit;
  margin: 0;
  outline: 0;
  vertical-align: baseline;
  word-wrap: break-word;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: 200;
  display: flex;
  align-items: center;
  padding: 6px;
  border-radius: 13px;
  height: 26px;
  line-height: 14px;
}
.topic-footer{

  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  vertical-align: baseline;
  word-wrap: break-word;
  box-sizing: border-box;
  padding: 15px 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topic-footer-left{

  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  word-wrap: break-word;
  box-sizing: border-box;
  display: flex;
  position: relative;
  align-items: center;
}
.planettext{
  -webkit-text-size-adjust: 100%;
  image-rendering: -webkit-optimize-contrast;
  --web-color: #2abd80;
  --web-light-color: rgba(42, 189, 128, 0.2);


      word-wrap: break-word;

  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  box-sizing: border-box;
  text-transform: none;
  -webkit-appearance: button;
  transition: opacity .2s;
  position: relative;
  cursor: pointer;
  font-size: 12px;
  margin: 0;
  white-space: nowrap;
  font-family: OPPOSans2,-apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
  border-radius: 10px;
  border: 0;
  padding: 0 12px;
  font-weight: normal;
  background: #f5f6f7;
  color: #8590A6;
  display: flex;
  align-items: center;
  margin-right: 2px;
  height: 28px;
}
.topic-date{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  image-rendering: -webkit-optimize-contrast;

  text-rendering: optimizeLegibility;
  font-feature-settings: "liga" on;
  -webkit-font-smoothing: subpixel-antialiased;

  border: 0;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  margin-right: 20px;
  outline: 0;
  vertical-align: baseline;
  word-wrap: break-word;
  box-sizing: border-box;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: #8590A6;
  background: none;
  cursor: auto;
  padding: 0;
  margin-left: 16px;
  display: flex;
  align-items: center;
}
.topic-footer-right{

  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  word-wrap: break-word;
  box-sizing: border-box;
}
.topic-content-text{
  max-width: 500px;
  margin-left: 66px;
}
.sidebar-innter{

  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  word-wrap: break-word;
  box-sizing: border-box;
  transform: translate3d(0, 0, 0);
  will-change: position, transform;
}
.mobile-hidden{
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  word-wrap: break-word;
  box-sizing: inherit;
  display: block;
  background-color: #fff;
  box-shadow: 0px 0px 2px rgb(98 124 153 / 10%);
  position: relative;
  border-radius: 10px;
  margin-bottom: 5px;
  opacity: 1;
  transition: opacity .3s;
}
.b2-widget-title{

  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  word-wrap: break-word;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.widget-title{

  border: 0;
  font-family: inherit;
  font-style: inherit;
  margin: 0;
  outline: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  overflow-wrap: break-word;
  font-size: 16px;
  padding: 20px 0px 8px;
  font-weight: 600;
  line-height: 1;
}
.widget-title-plant{
  margin-left: 14px;
  border: 0;
  font-family: inherit;
  font-style: inherit;
  outline: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  overflow-wrap: break-word;
  font-size: 16px;
  padding: 20px 0px 8px;
  font-weight: 600;
  line-height: 1;
}
.b2-widget-box{

  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  word-wrap: break-word;
  box-sizing: border-box;
  position: relative;
}
.about-widget{

  border: 0;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  word-wrap: break-word;
  box-sizing: border-box;
  font-size: 14px;
}
.user-w-announcement{

  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  vertical-align: baseline;
  word-wrap: break-word;
  box-sizing: border-box;
}
.planet-aside-ul{

  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  list-style: none;
  overflow-wrap: break-word;
}
.planet-aside-li{
      list-style: none;

  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  vertical-align: baseline;
  word-wrap: break-word;
  font-size: 13px;
  box-sizing: border-box;
  padding: 16px 0;
  border: 0;
}
.circle-widget-button{

  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  vertical-align: baseline;
  word-wrap: break-word;
  box-sizing: border-box;
  padding: 0px;
  text-align: left;
  border-top: 1px solid #f0f0f0;
}
.text-great{
  -webkit-text-size-adjust: 100%;
  image-rendering: -webkit-optimize-contrast;
  --web-color: #2abd80;
  --web-light-color: rgba(42, 189, 128, 0.2);


      word-wrap: break-word;

  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  box-sizing: border-box;
  text-transform: none;
  -webkit-appearance: button;
  transition: opacity .2s;
  position: relative;
  cursor: pointer;
  font-size: 12px;
  margin: 0;
  white-space: nowrap;
  font-family: OPPOSans2,-apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
  border-radius: 10px;
  background: none;
  border: 0;
  padding: 5px 16px;
  color: #409EFF;
}
.user-w-logon{
  border-radius: 8px;
  color: #121212;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga" on;
  -webkit-font-smoothing: subpixel-antialiased;
  cursor: auto;
  border: 0;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  vertical-align: baseline;
  word-wrap: break-word;
  box-sizing: border-box;
  font-size: 13px;
  padding: 5px 10px;
  background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);  position: relative;
}
.user-w-logon-title{
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga" on;
  -webkit-font-smoothing: subpixel-antialiased;
  cursor: auto;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  word-wrap: break-word;
  box-sizing: border-box;
  margin-bottom: 10px;
  color: #ffffff!important;
  display: block;
  /* overflow: hidden;
  white-space: nowrap; */
  text-overflow: ellipsis;
  position: relative;
  z-index: 2;
}
.user-w-logon-titlep{


      color: #121212;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga" on;
  -webkit-font-smoothing: subpixel-antialiased;
  cursor: auto;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  word-wrap: break-word;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
  z-index: 2;
}
.oauth-login-button{


      color: #121212;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga" on;
  -webkit-font-smoothing: subpixel-antialiased;
  cursor: auto;
  border: 0;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  vertical-align: baseline;
  word-wrap: break-word;
  box-sizing: border-box;
  font-size: 12px;
  display: flex;
  border-top: 1px dashed #f5f6f7;
  border-bottom: 1px dashed #f5f6f7;
  background: #f7f8fa;
  height: 43px;
  overflow: hidden;
  line-height: 43px;
  padding: 0 18px;
}
.login-weixin{


      text-rendering: optimizeLegibility;
  font-feature-settings: "liga" on;
  -webkit-font-smoothing: subpixel-antialiased;
  line-height: 43px;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  word-wrap: break-word;
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
  vertical-align: top;
  display: block;
  margin-right: 14px;
}
.login-weibo{


      text-rendering: optimizeLegibility;
  font-feature-settings: "liga" on;
  -webkit-font-smoothing: subpixel-antialiased;
  line-height: 43px;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  word-wrap: break-word;
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
  vertical-align: top;
  display: block;
  margin-right: 14px;
}
.login-qq{


      text-rendering: optimizeLegibility;
  font-feature-settings: "liga" on;
  -webkit-font-smoothing: subpixel-antialiased;
  line-height: 43px;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  word-wrap: break-word;
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
  vertical-align: top;
  display: block;
  margin-right: 14px;
}
.user-w-announcement{


      color: #121212;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga" on;
  -webkit-font-smoothing: subpixel-antialiased;
  cursor: auto;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  vertical-align: baseline;
  word-wrap: break-word;
  box-sizing: border-box;
  padding: 10px 0;
}
.widget-mission-footer{


      color: #121212;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga" on;
  -webkit-font-smoothing: subpixel-antialiased;
  cursor: auto;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  word-wrap: break-word;
  box-sizing: border-box;
}
.allad{


      line-height: 1.4;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga" on;
  -webkit-font-smoothing: subpixel-antialiased;
  border: 0;
  font-family: inherit;
  font-style: inherit;
  margin: 0;
  outline: 0;
  word-wrap: break-word;
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
  vertical-align: top;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  display: block;
  border-top: 1px solid #f5f6f7;
  font-weight: 600;
}
a.login-weixin:before {
  background-color: #18c531;
}
a.login-weibo:before {
  background-color: #c51818;
}
a.login-qq:before {
  background-color: #1863c5;
}
.oauth-login-button a:before {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 100%;
  display: inline-block;
  margin-right: 3px;
}
