/**
 * 下方引入的为uView UI的集成样式文件，为scss预处理器，其中包含了一些"u-"开头的自定义变量
 * 使用的时候，请将下面的一行复制到您的uniapp项目根目录的uni.scss中即可
 * uView自定义的css类名和scss变量，均以"u-"开头，不会造成冲突，请放心使用 
 */
@import '@/uni_modules/uview-ui/theme.scss';

/* 主题颜色 */
$themes-color: #5543ef;
$sub-color: #8874f7;


.margin-b5 { margin-bottom: 5rpx; }
.margin-b10 { margin-bottom: 10rpx; }
.margin-b15 { margin-bottom: 15rpx; }
.margin-b20 { margin-bottom: 20rpx; }
.margin-b25 { margin-bottom: 25rpx; }
.margin-b30 { margin-bottom: 30rpx; }
.margin-b40 { margin-bottom: 40rpx; }
.margin-b60 { margin-bottom: 60rpx; }
.margin-b80 { margin-bottom: 80rpx; }
.margin-b100 { margin-bottom: 100rpx; }

// 右边距
.margin-r5 { margin-right: 5rpx; }
.margin-r10 { margin-right: 10rpx; }
.margin-r15 { margin-right: 15rpx; }
.margin-r20 { margin-right: 20rpx; }
.margin-r25 { margin-right: 25rpx; }
.margin-r30 { margin-right: 30rpx; }
.margin-r40 { margin-right: 40rpx; }
.margin-r60 { margin-right: 60rpx; }

// 字体大小
.font-18 {
	font-style: normal;
	font-size: 18rpx;
	font-family: Droid Sans Fallback;
}
.font-20 {
	font-style: normal;
	font-size: 20rpx;
	font-family: Droid Sans Fallback;
}
.font-22 {
	font-style: normal;
	font-size: 22rpx;
	font-family: Droid Sans Fallback;
}
.font-24 {
	font-style: normal;
	font-size: 24rpx;
	font-family: Droid Sans Fallback;
}
.font-26 {
	font-style: normal;
	font-size: 26rpx;
	font-family: Droid Sans Fallback;
}
.font-28 {
	font-style: normal;
	font-size: 28rpx;
	font-family: Droid Sans Fallback;
}
.font-30 {
	font-style: normal;
	font-size: 30rpx;
	font-family: Droid Sans Fallback;
}
.font-32 {
	font-style: normal;
	font-size: 32rpx;
	font-family: Droid Sans Fallback;
}
.font-34 {
	font-style: normal;
	font-size: 34rpx;
	font-family: Droid Sans Fallback;
}
.font-36 {
	font-style: normal;
	font-size: 36rpx;
	font-family: Droid Sans Fallback;
}
.font-38 {
	font-style: normal;
	font-size: 38rpx;
	font-family: Droid Sans Fallback;
}
.font-40 {
	font-style: normal;
	font-size: 40rpx;
	font-family: Droid Sans Fallback;
}
.font-46 {
	font-style: normal;
	font-size: 46rpx;
	font-family: Droid Sans Fallback;
}
.font-50 {
	font-style: normal;
	font-size: 50rpx;
	font-family: Droid Sans Fallback;
}
.font-60 {
	font-style: normal;
	font-size: 60rpx;
	font-family: Droid Sans Fallback;
}
.font-80 {
	font-style: normal;
	font-size: 80rpx;
	font-family: Droid Sans Fallback;
}

// 字体对齐
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

// color相关
.color-white { color: #FFFFFF; }
.color-red { color: #dc0000; }


// 字体宽度
.font-weight-400 { font-weight: 400; }
.font-weight-500 { font-weight: bold; }

// 间隔
.spacing-20 {
	width: 750rpx;
	height: 20rpx;
	background-color: #f8f8f8;
}

// 圆角
.radius-10 { border-radius: 10rpx; }
.radius-20 { border-radius: 20rpx; }
.radius-30 { border-radius: 30rpx; }
.radius-circle { border-radius: 50%; }
.radius-height { border-radius: 10000px; }

// flex相关
.vs-flex-item { flex: 1; }
.vs-space-between { justify-content: space-between; }
.vs-space-around { justify-content: space-around; }
.vs-space-center { justify-content: center; }
.vs-space-end { justify-content: flex-end; }
.vs-row { flex-direction: row; }
.vs-column { flex-direction: column; }
.vs-align-end { align-items: flex-end; }
.vs-align-center { align-items: center; }
.vs-align-start { align-items: flex-start; }
.vs-item-hover { background-color: rgba(0, 0, 0, 0.05); }
.vs-btn-hover { opacity: 0.8; }
.color-base { color: #50A1FF; }
.bg-color-base { background-color: #50A1FF; }
/* 行为相关颜色 */
$uni-color-primary: #50A1FF;
$uni-color-success: #4cd964;
$uni-color-warning: #f0ad4e;
$uni-color-error: #dd524d;


/* 背景颜色 */
$uni-bg-color:#ffffff;
$uni-bg-color-grey:#f8f8f8;
$uni-bg-color-hover:#f1f1f1;//点击状态颜色
$uni-bg-color-mask:rgba(0, 0, 0, 0.4);//遮罩颜色

/* 边框颜色 */
$uni-border-color:#c8c7cc;

/* 尺寸变量 */

/* 文字尺寸 */
$uni-font-size-sm:12px;
$uni-font-size-base:14px;
$uni-font-size-lg:16;

/* 图片尺寸 */
$uni-img-size-sm:20px;
$uni-img-size-base:26px;
$uni-img-size-lg:40px;

/* Border Radius */
$uni-border-radius-sm: 2px;
$uni-border-radius-base: 3px;
$uni-border-radius-lg: 6px;
$uni-border-radius-circle: 50%;

/* 水平间距 */
$uni-spacing-row-sm: 5px;
$uni-spacing-row-base: 10px;
$uni-spacing-row-lg: 15px;

/* 垂直间距 */
$uni-spacing-col-sm: 4px;
$uni-spacing-col-base: 8px;
$uni-spacing-col-lg: 12px;

/* 透明度 */
$uni-opacity-disabled: 0.3; // 组件禁用态的透明度

/* 文章场景相关 */
$uni-color-title: #2C405A; // 文章标题颜色
$uni-font-size-title:20px;
$uni-color-subtitle: #555555; // 二级标题颜色
$uni-font-size-subtitle:26px;
$uni-color-paragraph: #3F536E; // 文章段落颜色
$uni-font-size-paragraph:15px;

