$n-color-primary: #2ea0e0;
$n-color-success: #3ebbb7;
$n-color-warning: #fba507;
$n-color-error: #ff6060;

$n-color-custom: #4A5061;
$n-color-link: #2ea0e0;

$n-text-color: #131318;
$n-text-color-inverse: #FFFFFF;
$n-text-color-second: #666464;
$n-text-color-third: #999696;
$n-text-color-forth: #CCC8C8;

$n-text-color-place: #CCC8C8;
$n-text-color-disabled: #CCC8C8;

$n-bg-color-inverse: #FFFFFF;
$n-bg-color-page: #fcfdff;
$n-bg-color-light: #F7F7F9;
$n-bg-color-dark: #131318;

$n-bg-color-hover: #F1F1F1;
$n-bg-color-hover-dark: rgba(0, 0, 0, 0.8);
$n-bg-color-mask: rgba(0, 0, 0, 0.2);
$n-bg-color-mask-dark: rgba(0, 0, 0, 0.8);

$n-border-color: #F7F5F5;
$n-border-color-light: #F7F5F5;
$n-border-color-dark: #EBEBEB;
$n-border-color-inverse: #FFFFFF;

/* #ifdef APP-NVUE */
$n-border-width: 1px;
/* #endif */
/* #ifndef APP-NVUE */
$n-border-width: 1px;
/* #endif */

$n-height-ss: 40rpx;
$n-height-s: 60rpx;
$n-height-base: 80rpx;
$n-height-l: 100rpx;
$n-height-ll: 120rpx;

$n-font-size-ss: 24rpx;
$n-font-size-s: 28rpx;
$n-font-size-base: 30rpx;
$n-font-size-l: 32rpx;
$n-font-size-ll: 36rpx;

$n-lh-ss: 34rpx;
$n-lh-s: 40rpx;
$n-lh-base: 42rpx;
$n-lh-l: 45rpx;
$n-lh-ll: 50rpx;

$n-border-radius-ss: 4rpx;
$n-border-radius-s: 6rpx;
$n-border-radius-base: 12rpx;
$n-border-radius-l: 24rpx;
$n-border-radius-ll: 60rpx;

$n-space-ss: 8rpx;
$n-space-s: 16rpx;
$n-space-base: 24rpx;
$n-space-l: 32rpx;
$n-space-ll: 40rpx;

$n-opacity-disabled: 0.5;
$n-opacity-hover: 0.5;

$n-nav-title-color: #000000;
$n-nav-title-size: 16px;
$n-nav-icon-color: #4C4C4C;
$n-nav-icon-size: 20px;
$n-nav-item-color: #4C4C4C;
$n-nav-item-size: 14px;
$n-nav-bg-color: #FFFFFF;
