.tabs-box{
	width: 80%;
	margin: 30rpx 0;
}

.cart-item{
	background-color: #fff;
	padding: 20rpx;
	border-radius: 10rpx;
	box-shadow: 5rpx 5rpx 10rpx #999;
	margin: 20rpx;
	.cover{
		width: 100%;
	}
	.footer{
		display: flex;
		align-items: center;
		margin-top: 20rpx;
		padding-top: 20rpx;
		border-top: 1px solid #F5F5F5;
		font-size: 28rpx;
		color: #999;
		.btn{
			margin-left: auto;
			margin-right: 0;
		}
	}
	.txt{
		font-size: 28rpx;
		color: #999;
	}
}

.empty-box{
	display: flex;
	flex-direction: column;
	align-items: center;
	text{
		color: #999;
		font-size: 28rpx;
		margin-top: 20rpx;
	}
}